.MainContainer
	display: flex
	flex-direction: column

.Title
	padding: 16px
	
.AddPostContainer
	display: flex
	flex-direction: row
	justify-content: flex-start
	padding: 8px 16px

.AddBtn
	height: 55px
	min-width: 15%!important
	

.PostInput
	margin: 0px!important
	width: 100%

	
.posts
	margin: 16px 0px