.border
	border: 1px solid #B4B4B4
	transform: rotate(0deg)
	margin-bottom: 20px

.postsBlock


	
.textInput
	
	margin-left: 25px
	margin-top: 10px
	
.posts
	margin-left: 25px
	margin-top: 10px
	

.title
	padding: 20px

.inputStyle
	width: 350px
	margin-left: 10px

.button
	width: 250px
	margin-left: 10px