.menu 
	grid-area: n
	
	

.item a
	text-decoration-line: none
	font-family: Lato
	font-style: normal
	font-weight: 600
	font-size: 24px
	line-height: 29px
	color: #000000


.item a.active 
	color: blue

.date
	margin-top: 50px
	margin-left: 7px
	
