
.MainContainer
	display: flex
	flex-direction: column
	padding-bottom: 24px

.Title
	padding: 14px
	padding-left: 19px


.ContentContainer
	display: flex
  flex-direction: row
  justify-content: space-between
  align-items: flex-start


.size
	width: 350px
	height: 300px

.button
	position: absolute
	margin-left: 200px
	margin-bottom: 95px

.StatusSection
		padding: 16px 8px
	