$color-main-primary: linear-gradient(90deg, #2B5666 0%, rgba(43, 86, 102, 0.7) 100%)
$color-main-secondary: linear-gradient(180deg, #9BD99A 49.13%, rgba(163, 226, 161, 0.7) 100%)
$color-main-extra: rgba(0, 0, 0, 0.1)
$color-semantic-positive: #4CD964
$color-semantic-negative: #FF2D55
$color-semantic-info: #5AC8FA
$color-semantic-alert: #FFFFFF




h1
	font-family: Lato
	font-style: normal
	font-weight: 600
	font-size: 48px
	line-height: 58px
	color: #000000

h2 
	font-family: Lato
	font-style: normal
	font-weight: 600
	font-size: 36px
	line-height: 43px
	color: #000000

h3
	font-family: Lato
	font-style: normal
	font-weight: 600
	font-size: 24px
	line-height: 29px
	color: #000000

h4
	font-family: Lato
	font-style: normal
	font-weight: 600	
	font-size: 18px
	line-height: 22px
	color: #000000

.title-text
	font-family: Lato
	font-style: normal
	font-weight: 500
	font-size: 12px
	line-height: 14px
	color: #000000




.app-wrapper
	display: grid
	grid-gap: 20px
	grid-template-areas: 'h h ' 'n c '
	grid-template-columns: 2fr 10fr 
	grid-template-rows: 80px 2fr 
	background: #EFEFEF

	

.app-wrapper-content 

		display: grid
		grid-area: c
		width: 710px
		left: 365px
		top: 48px
		background: #FFFFFF
		box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.25)
		border-radius: 15px
		


	

.offset-mt-sm 
	margin-top: 8px 
	
.offset-my-sm  
		margin: 8px 0px 
		
.offset-mx-sm 
	margin: 0px 8px 
	
.offset-pt-sm
	padding-top: 8px

.offset-py-sm  
		padding: 8px 0px 
		
.offset-px-sm 
	padding: 0px 8px 



	
.offset-mt-xs 
	margin-top: 5px 
	
.offset-my-xs  
		margin: 5px 0px 
		
.offset-mx-xs 
	margin: 0px 5px 
	
.offset-pt-xs
	padding-top: 5px

.offset-py-xs  
		padding: 5px 0px 
		
.offset-px-xs 
	padding: 0px 5px 





.offset-mt-md 
	margin-top: 14px 
	
.offset-my-md  
		margin: 14px 0px 
		
.offset-mx-md 
	margin: 0px 14px 
	
.offset-pt-md
	padding-top: 14px

.offset-py-md  
		padding: 14px 0px 
		
.offset-px-md 
	padding: 0px 14px 


.offset-mt-lg 
	margin-top: 24px 
	
.offset-my-lg  
		margin: 24px 0px 
		
.offset-mx-lg 
	margin: 0px 24px 
	
.offset-pt-lg
	padding-top: 24px

.offset-py-lg  
		padding: 24px 0px 
		
.offset-px-lg 
	padding: 0px 24px 




.offset-mt-xl 
	margin-top: 48px 
	
.offset-my-xl  
		margin: 48px 0px 
		
.offset-mx-xl 
	margin: 0px 48px 
	
.offset-pt-xl
	padding-top: 48px

.offset-py-xl  
		padding: 48px 0px 
		
.offset-px-xl 
	padding: 0px 48px 

