$color-main-primary: linear-gradient(90deg, #2B5666 0%, rgba(43, 86, 102, 0.7) 100%)
$color-main-secondary: linear-gradient(180deg, #9BD99A 49.13%, rgba(163, 226, 161, 0.7) 100%)
$color-main-extra: rgba(0, 0, 0, 0.1)
$color-semantic-positive: #4CD964
$color-semantic-negative: #FF2D55
$color-semantic-info: #5AC8FA
$color-semantic-alert: #FFFFFF


h1
	font-family: Lato
	font-style: normal
	font-weight: 600
	font-size: 48px
	line-height: 58px
	color: #000000

h2 
	font-family: Lato
	font-style: normal
	font-weight: 600
	font-size: 36px
	line-height: 43px
	color: #000000

h3
	font-family: Lato
	font-style: normal
	font-weight: 600
	font-size: 24px
	line-height: 29px
	color: #000000

h4
	font-family: Lato
	font-style: normal
	font-weight: 600	
	font-size: 18px
	line-height: 22px
	color: #000000

.title-text
	font-family: Lato
	font-style: normal
	font-weight: 500
	font-size: 12px
	line-height: 14px
	color: #000000




.app-wrapper
	margin: 0 auto
	display: grid
	width: 1120px
	grid-template-areas: 'h h' 'n c'
	grid-template-rows: 80px 1fr
	grid-template-columns: 2fr 10fr

	

.app-wrapper-content 
		grid-area: c
		background-color: pink




